*{
    background-color:#d2deeb;
    /*for testing*/
    /* border: 1px solid red; */
}
h1{
    text-align: center;
    background-color: #03045e;
    color: white;
    font-family: Impact;
    font-size: 20mm;
    border: solid black;
    border-radius: 10px;
}
/*nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03045e;
}
  
li {
    float: left;
}
nav ul li a{
    background-color:  #03045e;
}

li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color:whitesmoke;
    color: black;
}
#search-txt{
    float: right;
    background-color:white;
}
button:hover{
    background-color: grey;
    color: white;
}
/*images*/
.container{
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%;    
    max-width: auto;
    position: center;
    padding-bottom: 100px;
    border: black;
}
#card-pic{
    height: 200px;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}
.card-container p{
    background-color: cadetblue;
    border: 3px solid black;
    text-align: center;
}
.card-container a{
    text-align: center;
    text-decoration: none;
}

/* postimage file */
.post-image{
    width: 400px;
    height: auto;
    border: 7px solid black;
}
.post-image, .post-author, .post-title, .post-date{
    display: grid;
    
    border-style: inset;
    /* border-radius: 10px; */
    text-align: center;
}
.post-author, .post-title, .post-date{
    border: 5px solid black;
    border-style: inset;
    width: 26.7%;
    background-color: ghostwhite;
}
#regForm{
    display: grid;
    grid-template-columns: auto;
    width: 80%;
}
input, textarea {
    background-color: white;
}
.post-date{
    margin-bottom: 100px;
}
/*footer*/
footer, footer p{
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    text-align:center;
    height: 1.5rem;  
    background-color: darkblue;
    color: white;
    font: italic; 
}

